DATABASE_URL=
JWT_TOKEN=
NODE_ENV=
SECRET_KEY_ONE=
SECRET_KEY_TWO=
CLIENT_URL=
API_URL=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=-
REDIS_HOST=redis://localhost:6379
SENDER_EMAIL=
SENDER_EMAIL_PASSWORD=
SENDGRID_API_KEY=
SENDGRID_SENDER=
EC2_URL=http://169.254.169.254/latest/meta-data/instance-id
